In [3]:
import pandas as pd
import numpy as np

### 데이터프레임 고급 인덱싱
판다스 데이터프레임의 인덱싱은 라벨, 라벨 리스트, 행 인덱스 슬라이스의 인덱싱 형태뿐만 아니라  
numpy와 같은 `,` 를 이용한 `(향 인덱스, 열 인덱스)` 형식의 2차원 인덱스도 제공한다.  

- `loc` 속성: 라벨 기반의 2차원 인덱성  
- `iloc` 속성: 순서를 나타내는 정수 기반의 2차원 인덱서

In [6]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4), index=["a", "b", "c"], columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [8]:
df.loc['a']

A    10
B    11
C    12
D    13
Name: a, dtype: int32

In [9]:
df.loc[['a', 'b']]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [10]:
df.loc['a':'b']

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [11]:
df.loc[['a']]

    A   B   C   D
a  10  11  12  13

In [13]:
df.loc[df.A > 13]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

인덱스 값으로 열 인덱스 값을 반환하는 함수를 사용할 수 있다.

In [15]:
def select_rows(df):
    return df.A > 12

In [16]:
df.loc[select_rows(df)]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

`loc` 없이 인덱싱을 할때는 `[]`에 열 인덱스에 대한 인덱싱을 하였는데 `loc`는 열 인덱싱으로 지정할 수 없음

In [ ]:
df.loc['A'] # 에러가 뜬다.

`loc` 인덱싱에서 정수로 되어있는 행이라고 할 지라도 슬라이싱 시에 종료 인덱스 값에 대한 결과도 포함하여 출력됨

In [20]:
df2 = pd.DataFrame(np.arange(10, 26).reshape(4, 4), columns=["A", "B", "C", "D"])
df2

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21
3  22  23  24  25

In [22]:
df2.loc[0:2]

    A   B   C   D
0  10  11  12  13
1  14  15  16  17
2  18  19  20  21