In [ ]:
'안녕하세요'

In [ ]:
1+1 # 정수 더하기

In [ ]:
print(7 // 3) # 몫 연산자
7 ** 3 # 제곱 연산자

In [ ]:
variable = '문자열'
variable

In [ ]:
variable = 3.14
variable

In [ ]:
# 정수와 실수 형변환
# 특정 데이터를 정수로 변환할 때는 int() 내장 함수 사용

In [ ]:
int(3.14)

In [ ]:
int('3')

In [ ]:
# 특정 데이터를 실수로 변환할 때는 float() 내장 함수를 사용

In [ ]:
float(3)

In [ ]:
float('3.14')

In [ ]:
# NaN 과 Inf
# NaN: 숫자가 아님을 나타냄
# Inf: 무한대의 수를 나타냄

In [ ]:
float('NaN')

In [ ]:
float('Inf')

In [ ]:
# 파이썬에서의 문자열 표현# ', ", ''', """

In [ ]:
'문자열'

In [ ]:
"문자열"

In [ ]:
'''
여러줄의
문자열
취급
'''

In [ ]:
"""
여러줄의
문자열
취급
"""

In [ ]:
# 문자열 연산
# + : 문자열을 연결
# * : 문자열을 반복

In [ ]:
'안녕' + '안녕'

In [ ]:
'안녕' * 5

In [ ]:
# 문자열 형변환
# 다른 형태의 데이터를 문자열로 str() 내장 함수를 사용하여 문자열로 변환 가능

In [ ]:
'안녕' + 5 + '잘가'

In [ ]:
'안녕' + str(5) + '잘가'

In [ ]:
# 문자열 줄바꿈
# \n으로 줄바꿈

In [1]:
print('안녕\n잘가')

안녕
잘가

In [ ]:
# 문자열 치환
# 문자열객체.replace(변경전문자, 변경후문자)
string = 'I am Ironman'

In [ ]:
string.replace('Ironman', 'Hulk')

In [ ]:
string          # replace 메서드를 사용해야 바꾼 결과가 나온다. 바꾼문자열이 고정값이 되는건 아님.

In [ ]:
# f문자열
# 문자열을 표시할 형태를 지정해서 사용하는 문자열
name ='김철수'
age = 30
f'{name}의 나이는 {age}세 입니다.'  # 즉 출력문에 문자' ' 안에서 {} 사용하면 문자열이 아니어도 변수명을 넣을 수 있다.

In [21]:
# f문자열의 고급 형식 지정
# 변수:<숫자 : 변수값을 왼쪽으로 정렬해서 나열 한 후 남은 자리를 공백으로 매꿈
# 변수:>숫자 : 변수값을 오른쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈
# 변수:^숫자 : 변수값을 가운데 정렬해서 나열한 후 남은 자리를 공백을 매꿈
# 변수:특정문자(<>)숫자 : 변수값을 정렬해서 나열한 후 남은 자리를 특정문자로 매꿈
number = 12345

In [23]:
f'[{number:>15}]'   # number는 12345로 총 5자 이므로, 15보다 작은 10칸의 공백이 생긴다.
                                 # 변수값을 오른쪽으로 정렬해서 나열한 후 남은 자리를 공백으로 매꿈

'[          12345]'

In [28]:
f'[{number:5<15}]'  # :x<   x자리에 데이터를 넣으면 그 데이터가 공백칸에 기입된다.(한글 영문 숫자 다 가능) 실수제외

'[123455555555555]'

In [ ]:
"-----"