In [1]:
# 리스트
# 순서가 존재하고 중복을 허용하는 자료 구조형
# 파이썬에서는 변수에 데이터 타입이 없듯이 모든 타입을 하나의 리스트에 담을 수 있음
# 리스트 표현: [요소1, 요소2, 요소3, ...]

array = [1, 3.14, '문자열', True]
array

[1, 3.14, '문자열', True]

In [2]:
array[0]

1

In [3]:
array[-1]

True

In [4]:
array[4]  # 인데스의 범위를 벗어나서 에러 뜸

IndexError: list index out of range

In [ ]:
for item in array:
    print(item)

In [ ]:
# [3.5, 10.3, 3.2, 7.8, 5.4] 라는 리스트가 있을 때
# 리스트에서 최대값, 최소값, 평균, 분산을 출력하시오
# 분산: (요소값 - 평균) ^ 2/ 개수
#

In [ ]:
numbers = [3.5, 10.3, 3.2, 7.8, 5.4]

In [ ]:
# 최대값
max = float("-Inf")
for number in numbers:
      if number > max:
            max = number
print(max)

In [ ]:
# 최소값
min = float("Inf")
for number in numbers:
    if number < min:
        min = number
print(min)

In [ ]:
# 평균
sum = 0
for number in numbers:
        sum += number
avg = round(sum / len(numbers), 2)
avg

In [ ]:
# array = [3.5, 10.3, 3.2, 7.8, 5.4]
# avg = sum(array) / 5
# print(max(array))
# print(min(array))
# print(avg)

#  print()

In [ ]:
# 분산
sum = 0
for number in numbers:
    sum += (number - avg ) ** 2
dispersion = round(sum/len(numbers), 2)
dispersion

In [ ]:
# 리스트의 개수 구하기
# len() 내장함수로 리스트의 길이를 구할 수 있음

In [ ]:
len(numbers)

In [ ]:
# 리스트 구조로 형변환
# 반복가능한 객체에 대하여 리스트 형태로 형 변환할 때 list() 내장 함수를 사용

In [ ]:
list(range(10))

In [ ]:
# 리스트에 요소 추가하기
# 리스트 객체에 append(요소) 메서드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert(인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달한 리스트를 확장할 수 있음

In [ ]:
numbers = list(range(5))
numbers

In [ ]:
numbers.append(99)  # 뒤에 삽입
numbers

In [ ]:
numbers.insert(0, -100) # 앞에 삽입
numbers

In [ ]:
numbers.extend([123, 321])  # 확장(합친다, 붙여버린다)
numbers

In [ ]:
# 리스트에서 요소 삭제
# del 요소 사용: 요소를 메모리 상에서 제거
# pop() : 마지막 요소를 반환하고 제거(꺼내오는 것)
# pop(인덱스):  지정한 인덱스 요소를 반환하고 제거
# remove(요소값): 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)

In [ ]:
del numbers[0]
numbers

In [ ]:
numbers.pop(0)

In [ ]:
numbers

In [ ]:
numbers.pop(2)
numbers

In [ ]:
numbers = [1, 1, 1, 2, 2, 3]
numbers

In [ ]:
numbers.remove(2)
numbers

In [ ]:
# 리스트 슬라이싱
# 리스트[시작인덱스:종료인덱스] : 시작인덱스요소부터 종료인덱스 앞까지 요소를 묶어서 리스트로 반환

In [ ]:
numbers = list(range(20))
numbers

In [ ]:
numbers[0: 11]

In [ ]:
numbers[:11]

In [ ]:
numbers[7:14]

In [ ]:
numbers[7 :20]

In [ ]:
numbers[7:]

In [ ]:
# 1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.
# 2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.
# 3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.
# 4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

In [ ]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [ ]:
names.append('한시우')
names

In [ ]:
names.remove('최이서')
names

In [ ]:
new_names = names[4:9]
new_names

In [ ]:
# 리스트 복수 할당.
# 변수를 ,로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입 할 수 있음.
numbers = [1, 2, 3]

In [ ]:
number1, number2, number3 = numbers
print(f'{number1}{number2}{number3}')

123

In [ ]:
# 만약 복수 할당할ㄹ 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1, number2 = numbers # 위에 numbers에 [1, 2, 3]을 할당 했는데  인덱스 개수가 맞지 않으므로 오류 발생

ValueError: too many values to unpack (expected 2)

In [ ]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어주는 내장 함수
enumerate(numbers) # 주소 출력

In [ ]:
for index, item in enumerate(numbers):
    print(f'인덱스:{index}, 요소:{item}') 
# index는 0부터 센다.

인덱스:0, 요소:1
인덱스:1, 요소:2
인덱스:2, 요소:3

In [ ]:
# zip()
# 두 개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [ ]:
names

NameError: name 'names' is not defined

In [ ]:
scores = [70, 85, 60, 55, 90, 100, 100, 65, 75,  40]
scores

In [ ]:
name_scores = list(zip(names, scores)) # list 붙여서 형변환.
name_scores

In [ ]:
# 중첩 리스트 
# 리스트의 요소로 리스트를 가지고 있는 리스트
overlappings = [
    [1, 2 , 3],
    [4, 5, 6],
    [7, 8, 9]
]
overlappings

In [ ]:
overlappings[0][1]  # 0번 인덱스의 2번째 값을 꺼내 오는 것.
                                  # [0] 만 입력한다면, 0번 인덱스 값을 모두 출력함 = [1, 2, 3]

In [ ]:
items = overlappings[0]
items

In [ ]:
items[1]  # overlappings[0][1] 과 같다.

In [ ]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits 리스트를 입력 받고
# 평균 평점을 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1을 반환하시오.

In [ ]:
def getGpa(grades, credits):

    if len(grades) != len(credits):
        return -1       # grades의 인덱스 길이와, credits의 인덱스 길이가 다르면 -1을 return.
    
    credits_sum = 0 # 이수학점의 총합
    weight_sum = 0 # 가중합
    # for index in range(len(grades)):
    #     credits_sum += credits[index]
    #     weight_sum += credits[index] * grades[index]

    # [(4, 3), (3, 3), (2, 1), (3, 2), (4, 2)]
    for grade, credit in zip(grades, credits):  #zip함수 이용
        credits_sum += credit
        weight_sum += credit * grade
    # 평균평점 = (가중치 총합) / 이수학점의 총합
    gpa = round(weight_sum / credits_sum, 2) # round = 반올림으로 round(변수명 , 2)를 하면 소수점 2째자리까지 반올림하여 출력됨.
    return gpa

In [ ]:
grades = [4, 3, 2, 3, 4]
credits = [3, 3, 1, 2, 2]
getGpa(grades, credits)

3.36

In [ ]:
# 복수할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오.
x = [
['길동',90], 
['철수', 80],
['영희', 70], 
['방자', 60] 
        ]
x

[['길동', 90], ['철수', 80], ['영희', 70], ['방자', 60]]

In [ ]:
r_x = list(zip(*x))     # list로 타입변경해줌.
r_x

[('길동', '철수', '영희', '방자'), (90, 80, 70, 60)]

In [ ]:
x_names, x_cores = r_x
x_names = list(x_names)
x_names

['길동', '철수', '영희', '방자']

In [ ]:
# x_names = []
# a1 = ['길동', '철수', '영희', '방자']
# a2 = [90, 80, 70, 60]
# a12 = list(zip(a1, a2))
# a12

In [ ]:
# 딕셔너리, 대괄호 안에 키를 넣음.
# key, value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 key(자료의 이름)는 중복을 허용하지 않으며, value(자료의 값)는 중복 될 수 있음
# 딕셔너리변수 = {key1: value1, key2: value2, ...}
# key는 어떠한 자료형이든 가능

In [ ]:
eng_dictionary = {
    'apple': '사과', 
    'banana': '바나나', 
    'carrot': '당근'
    }
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [ ]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리변수[키]로 값을 가져 올 수 있음 (접근가능)
eng_dictionary['apple']

'사과'

In [ ]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리 변수)를 사용하여 자료 쌍의 개수를 구할 수 있다
len(eng_dictionary)

3

In [ ]:
# 딕셔너리 자료 value(자료의 값) 변경
# 딕셔너리[키] = 변경할 값
eng_dictionary['banana'] = '버네너'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [ ]:
# 딕셔너리 요소 추가
# 딕셔너리[추가할 키] = 추가할 값
eng_dictionary['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [ ]:
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [ ]:
# 딕셔너리의 update 메서드
# 추가, 수정 작업을 딕셔너리로 지정하여
eng2_dictionary = {
    'banana': '바나나',   # 버네나에서 다시 바나나로 변경.
    'electricity': '전기'   # 밑 구문에서 update를 사용하여 수정 추가하였음.
}

In [ ]:
eng_dictionary.update(eng2_dictionary)
eng_dictionary

{'apple': '사과',
 'banana': '바나나',
 'carrot': '당근',
 'delete': '삭제',
 'electricity': '전기'}

In [ ]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거
# pop()메서드를 사용하여 추출
del eng_dictionary['electricity']

In [ ]:
eng_dictionary.pop('delete')    # delete를 꺼내옴

'삭제'

In [ ]:
eng_dictionary      # electricity:삭제    가 삭제됨

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [ ]:
# 반복가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능(존재하면 true, 존재하지 않으면 false)
numbers

[1, 2, 3]

In [ ]:
5 in numbers

False

In [ ]:
'carrots'in eng_dictionary

False

In [ ]:
# 딕셔너리를 반복문에서 사용
# 키만 사용: for key in 딕셔너리.keys():
# 값만 사용: for value in 딕셔너리.values():
# 키와 값을 모두 사용: for key, value in 딕셔너리.items():

# keys(): 딕셔너리의 key 값들을 튜플로 반환
# values(): 딕셔너리의 value 값들을 튜플로 반환
# items(): 딕셔너리의 key, value 쌍들을 튜플로 반환

In [ ]:
for key in eng_dictionary.keys():
    print(key)

apple
banana
carrot

In [ ]:
for value in eng_dictionary.values():
    print(value)

사과
바나나
당근

In [ ]:
for key, value in eng2_dictionary.items():
    print(f'key:{key}, value:{value}')

key:banana, value:바나나
key:electricity, value:전기

In [ ]:
data_dictionary = {
    '철수': 98,
    '영희': 80,
    '순이': 100,
    '돌이': 70
}
data_dictionary

{'철수': 98, '영희': 80, '순이': 100, '돌이': 70}

In [ ]:
# sum = 0
# for key, value in data_dictionary.items():
#     print(f'{key}\t\t{value}')      # \t = 한칸 띄어쓰기.
#     sum += value
# avg = round(sum/len(data_dictionary))   # round = 반올림
# print('================')
# print(f'평균\t\t{avg}')

# 내가 하던거, 미완성
sum = 0
for key, value in data_dictionary.items():
    print(f'{key}\t\t{value}')
    sum += value
print('=========')
print(sum)
# print(f'평균\t\t{sum / len(data_dictionary)}')

NameError: name 'data_dictionary' is not defined

In [ ]:
# init(생성자)

In [ ]:
"-----"

'-----'